body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFD700; /* 金色背景 */
    color: #fff; /* 文字颜色 */
    overflow: hidden; /* 防止滚动条出现 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header h1 {
    color: #8B0000; /* 暗红色 */
    font-size: 2em;
}

.countdown {
    margin: 20px;
    font-size: 4em;
    color: #FF0000; /* 红色 */
}

.marquee {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* 防止弹幕阻挡点击 */
}

.marquee div {
    white-space: nowrap;
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    animation: scrollMarquee 10s linear infinite;
}

/* 动画定义 */
@keyframes scrollMarquee {
    from {
        transform: translateX(130%);
    }
    to {
        transform: translateX(-100%);
    }
}
